@font-face {
    font-family: "Hauss";
    src: url(../fonts/als_hauss_book.826f31c6.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Hauss-Bold";
    src: url(../fonts/als_hauss_medium.woff2) format("woff2");
    font-weight: 500;
}

:root {
    --buttonsBackgroundColor : #eaeef4;
    --gridDarkBorder : #344861;
    --gridLightBorder : #94a3b7;
    --hoverBtn : #dce3ed;
    --activeBtn : #d2dae7;
}

body {
    font-family: "Hauss", sans-serif; 
}

#app {
    display: flex;
    justify-content: center;
}

#sudoku-board {
    border: 2.5px solid var(--gridDarkBorder);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
}

.board-cell {
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    border-top: 0.5px solid var(--gridLightBorder);
    border-right: 0.5px solid var(--gridLightBorder);
    color: var(--gridDarkBorder);
    font-size: 38px;
}

.board-cell.highlighted {
    background-color: #e2ebf3;
}

.board-cell.selected {
    background-color: #bbdefb;
    color: #325aaf;
}

.board-cell.changed {
    color: #325aaf;
}

.board-cell:nth-child(-n+9) {
    border-top: none;
}

.board-cell:nth-child(9n) {
    border-right: none;
}

.board-cell:nth-child(n+28):nth-child(-n+36) {
    border-top: 2.5px solid var(--gridDarkBorder);
}

.board-cell:nth-child(n+55):nth-child(-n+63){
    border-top: 2.5px solid var(--gridDarkBorder);
}

.board-cell:nth-child(9n + 3) {
    border-right: 2.5px solid var(--gridDarkBorder);
}

.board-cell:nth-child(9n + 6) {
    border-right: 2.5px solid var(--gridDarkBorder);
}

#controls-buttons {
    width: 320px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#timer-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#timer-text {
    text-align: end;
    color: #6e7c8c;
    font-family: "Hauss-Bold";
}

#timer-label {
    display: block;
    font-size: 13px;
    letter-spacing: .22px;
    line-height: 1.23;
    margin: 0 0 1px;
}

#timer-span {
    display: block;
    font-size: 15px;
    line-height: 1.33;
}

#timer-button {
    background-color: var(--buttonsBackgroundColor);
    height: 30px;
    width: 30px;
    margin-left: 4px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#timer-button svg {
    vertical-align: middle;
    color: #94a3b7;
}

.btn-icon {
    height: 12px;
    width: 11px;
}

#game-control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 8px;
    padding: 0 2.5%;
}

.game-control-button {
    width: 60px;
    height: 60px;
    background-color: var(--buttonsBackgroundColor);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.game-control-button svg {
    vertical-align: middle;
    width: 65%;
}

.game-control-button:hover {
    background-color: var(--hoverBtn);
}

.game-control-button:active {
    background-color: var(--activeBtn);
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.numpad-item {
    background-color: var(--buttonsBackgroundColor);
    flex-basis: 32%;
    color: #325aaf;
    cursor: pointer;
    font-size: 42px;
    margin: 1%;
    border: 0;
    border-radius: 5px;
    font-family: "Hauss", sans-serif;
}

.numpad-item:hover {
    background-color: var(--hoverBtn);
}

.numpad-item:active {
    background-color: var(--activeBtn);
}

.numpad-item:first-child, .numpad-item:nth-child(2), .numpad-item:nth-child(3) {
    margin-top: 0;
}

.numpad-item:nth-child(7), .numpad-item:nth-child(8), .numpad-item:nth-child(9) {
    margin-bottom: 0;
}

.numpad-item:nth-child(3n-2) {
    margin-left: 0;
}

.numpad-item:nth-child(3n) {
    margin-right: 0;
}

#new-game-button {
    height: 60px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background-color: #5a7bc0;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-family: "Hauss-Bold", sans-serif;
}