@font-face {
    font-family: "Hauss";
    src: url(../fonts/als_hauss_book.826f31c6.woff2) format("woff2");
}

@font-face {
    font-family: "Hauss-Bold";
    src: url(../fonts/als_hauss_medium.woff2) format("woff2");
}

:root {
    --buttonsBackgroundColor : #eaeef4;
    --gridDarkBorder : #344861;
    --gridLightBorder : #bfc6d4;
    --hoverBtn : #dce3ed;
    --activeBtn : #d2dae7;
    --numberColor: #325aaf;
    --selectedCellColor: #bbdefb;
    --noteColor: #6e7c8c;
}

body {
    margin: 0;
    font-family: "Hauss", sans-serif; 
}

#app {
    margin: 2% auto;
}

#sudoku-board {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 2.5px solid var(--gridDarkBorder);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    text-align: center;
    position: relative;
}

#sudoku-board::after {
    content: "";
    width: 33%;
    border-left: 2.5px solid var(--gridDarkBorder); 
    border-right: 2.5px solid var(--gridDarkBorder);    
    position: absolute;
    height: 100%;
    left: 33%;   
    pointer-events: none;
}

#sudoku-board::before {
    content: "";
    height: 33%;
    border-top: 2.5px solid var(--gridDarkBorder); 
    border-bottom: 2.5px solid var(--gridDarkBorder);    
    position: absolute;
    width: 100%;
    top: 33%;
    pointer-events: none;
}

#sudoku-board.hidden .board-cell > div {
    display: none;
}

#sudoku-board.hidden .board-cell {
    background-color: #fff;
}

#sudoku-board.hidden #pause-overlay {
    display: grid;
    place-items: center;
}

#pause-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#pause-overlay svg {
    width: 13%;
}

.board-cell {
    display: grid;
    place-items: center;
    border-top: 0.5px solid var(--gridLightBorder);
    border-right: 0.5px solid var(--gridLightBorder);
    color: var(--gridDarkBorder);
    font-size: 38px;
}

.board-cell > div {
    pointer-events: none;
}

.board-cell.highlighted {
    background-color: #e2ebf3;
}

.board-cell.changed {
    color: #325aaf;
}

.board-cell.same-value {
    background-color: #c3d7ea;
}

.board-cell.selected {
    background-color: var(--selectedCellColor);
}

.board-cell.changed.conflict{
    color: #e55c6c;
}

.board-cell.selected.conflict {
    background-color: var(--selectedCellColor);
}   

.board-cell.conflict {
    background-color: #f7cfd6;
}

.board-cell[data-row='0'] {
    border-top: none;
}

.board-cell[data-row='3'], .board-cell[data-row='6']{
    border-top-color: transparent;
}

.board-cell[data-column='8']  {
    border-right: none;
}

.board-cell[data-column='2'], .board-cell[data-column='5']{
    border-right-color: transparent;
}

.board-cell[data-mode="value"] .cell-value {
    display: block;
}

.board-cell[data-mode="value"] .cell-notes {
    display: none;
}

.board-cell[data-mode="notes"] .cell-value {
    display: none;
}

.board-cell[data-mode="notes"] .cell-notes {
    display: grid;
}

.board-cell.fixed .cell-notes {
    display: none;
}

.cell-notes {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: var(--noteColor);
    font-size: 12px;
}

#timer-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#timer-text {
    text-align: end;
    color: var(--noteColor);
    font-family: "Hauss-Bold";
}

#timer-label {
    display: block;
    font-size: 13px;
    letter-spacing: .22px;
    line-height: 1.23;
    margin: 0 0 1px;
}

#timer-span {
    display: block;
    font-size: 15px;
    line-height: 1.33;
}

#timer-button {
    background-color: var(--buttonsBackgroundColor);
    height: 30px;
    width: 30px;
    margin-left: 4px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#timer-button:hover {
    background-color: var(--hoverBtn);
}

#timer-button svg {
    vertical-align: middle;
}

.play-icon {
    display: none;
}

#timer-button.paused .pause-icon {
    display: none;
}

#timer-button.paused .play-icon {
    display: block;
}

.btn-icon {
    height: 12px;
    width: 11px;
}

#game-control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 8px;
    padding: 0 3%;
}

.game-control-button {
    width: 60px;
    height: 60px;
    background-color: var(--buttonsBackgroundColor);
    border: 2px solid var(--buttonsBackgroundColor);
    border-radius: 50%;
    cursor: pointer;
}

.game-control-button svg {
    vertical-align: middle;
    width: 65%;
}

.game-control-button:hover {
    background-color: var(--hoverBtn);
    border-color: var(--hoverBtn);
}

.game-control-button:active {
    background-color: var(--activeBtn);
    border-color: var(--activeBtn);
}

#notes-button {
    position: relative;
}

#notes-button::after {
    content: "OFF";
    background-color: #adb6c2;
    font-family: "Hauss-Bold", sans-serif;
    color:#fff;
    position: absolute;
    border-radius: 50px;
    top: -15%;
    left: 65%;
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

#notes-button.notes-on {
    border: 2px solid var(--numberColor);
}

#notes-button.notes-on:hover {
    background-color: var(--buttonsBackgroundColor);
}

#notes-button.notes-on::after {
    content: "ON";
    background-color: var(--numberColor);
}

#numpad {
    display: grid;
}

.numpad-item {
    color: var(--numberColor);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-family: "Hauss", sans-serif;
}

.numpad-item:active {
    background-color: var(--activeBtn);
}

#new-game-button {
    height: 60px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background-color: #5a7bc0;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-family: "Hauss-Bold", sans-serif;
}

@media (min-width: 901px) {
    #app {
        display: flex;
        justify-content: center;
    }

    #controls-buttons {
        width: 320px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    #numpad {
        flex: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 6.5px;
    }

    .numpad-item {
        background-color: var(--buttonsBackgroundColor);
        font-size: 42px;
    }

    .numpad-item:hover {
        background-color: #fff;
    } 
}

@media (max-width: 900px) {
    #app {
        max-width: 500px;
        padding-top: 45px;
        position: relative;
    }

    #controls-buttons {
        width: 100%;
        margin: 0;
    }

    #timer-section {
        position: absolute;
        top: 1px;
        right: 0;
    }

    #game-control-buttons {
        margin: 0;
        padding: 12px 15px;
    }

    #numpad {
        grid-template-columns: repeat(9, 1fr);  
        grid-template-rows: none;
        gap: 0;
    }

    .numpad-item {
        padding: 0;
        background-color: transparent;
        font-size: 52px;
    }  

    #new-game-button {
        display: none;
    }
}

@media (max-width: 600px) {
    #app {
        padding: 45px 3% 0 3%;
    }

    #sudoku-board {
        container-type: inline-size;
        border-width: clamp(2px, 0.5vw, 2.5px);
    }

    #sudoku-board::after {
        border-width: clamp(2px, 0.5vw, 2.5px);
    }

    #sudoku-board::before {
        border-width: clamp(2px, 0.5vw, 2.5px);
    }

    .cell-value {
        font-size: clamp(18px, 7cqw, 38px);
    }

    .cell-notes {
        font-size: clamp(7px, 2vw, 12px);
    }

    #pause-overlay svg {
        width: max(13%, 60px);
    }
    #controls-buttons {
        width: 100%;
        margin: 0;
    }

    #timer-section {
        padding-right: 3%;
    }

    #game-control-buttons {
        padding: 10px 15px;
        gap: 20px;
    }

    .game-control-button {
        width: auto;
        height: 38px;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        padding: 0;
    }

    .game-control-button svg {
        width: clamp(32px, 30%, 38px);
    }

    .game-control-button svg path{
        fill: #6d7584
    }

    .game-control-button:hover {
        background-color: transparent;
        border-color: transparent;
    }

    .game-control-button:active {
        background-color: var(--activeBtn);
        border-color: var(--activeBtn);
    }

    #notes-button::after {
        top: -5%;
        left: 50%;
        height: 20px;
        font-size: 11px;
    }

    #notes-button.notes-on {
        border: none;
    }

    #notes-button.notes-on:hover {
        background-color: var(--buttonsBackgroundColor);
    }

    #notes-button.notes-on::after {
        content: "ON";
        background-color: var(--numberColor);
    }

    .numpad-item {
        font-size: 36px;
    }

    #new-game-button {
        display: none;
    }
}